@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(217, 217, 217);
}

main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fafafa;
}

.cabecalho {
    display: flex;
    max-width: 1440px;
    height: 89px;
    gap: 274px;
}

.menu {
    margin-top: 37px;
    font-weight: 700;
    font-style: normal;
}

.menu ul {
    list-style: none; /* retira a bolinhas do ul */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

}

.menu ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #141414;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color:#00852C ;
}

.logo {
    width: 150px;
    height: 29px;
    text-decoration: none;
    margin: 30px 0 0 100px;
}

/* banner 01 ----------------------------------- */

.banner01 {
    background-image: url(imagens/banner01.png);
    height: 678px;
}

.banner01-texto {
    color: #fff;
}

.banner01-texto h2 {
    margin: 0;
    font-size: 48px;
    width: 400px;
    padding: 190px 0px 30px 100px ;
    line-height: 100%;
}

.banner01-texto p {
    margin: 0;
    font-size: 24px;
    width: 505px;
    padding: 0px 0px 40px 100px;
    line-height: 110%;
}

.botao {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 28px;
    border-radius: 22px;
    text-transform: uppercase;
}

.botao-laranja {
    background-color: #FEC52E;
    color: #141414;
}

.botao-branco {
    background-color: #fff;
    color: #141414;
}

.botao-vazado {
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 25px;
}

.banner01-texto .botao {
    margin-left: 100px;
}

/* banner 02 ----------------------------------- */

.banner02 {
    background-image: url(imagens/banner02.png);
    height: 504px;
}

.banner02 .botao {
    margin-right: 20px;
}

.banner02-texto {
    color: #000;
    float: right;
    width: 602px;
}

.banner02-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 127px 0px 20px 0px ;
    line-height: 36px;
}

.banner02-texto p {
    font-size: 16px;
    width: 505px;
    padding: 0px 0px 40px 0px;
    line-height: 110%;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 24px;
    font-weight: 500;
}

/* banner 03 ----------------------------------- */

.banner03 {
    background-image: url(imagens/banner03.png);
    height: 580px;
}

.banner03 .botao {
    margin-left:100px;
}

.banner03-texto {
    float: left;
    color: #000;
    width: 500px;
}

.banner03-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 177px 0px 34px 100px ;
    line-height: 36px;
}

.banner03-texto .botao-vazado {
    border-color: #000;
    color: #000;
}

.banner03 .botao {
    display: inline-block;
    margin-bottom: 30px;
}

.celular {
    float: right;
    background-image: url(imagens/celular_video.png);
    margin: 81px 101px 0 0;
    width: 764px;
    height: 418px;
}
