@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(217, 217, 217);
}

main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fafafa;
}

.cabecalho {
    display: flex;
    max-width: 1440px;
    height: 89px;
    gap: 274px;
}

.menu {
    margin-top: 37px;
    font-weight: 700;
    font-style: normal;
}

.menu ul {
    list-style: none; /* retira a bolinhas do ul */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

}

.menu ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #141414;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color:#00852C ;
}

.logo {
    width: 150px;
    height: 29px;
    text-decoration: none;
    margin: 30px 0 0 100px;
}

/* bloco 01 ----------------------------------- */

.bloco01 {
    background-image: url(imagens/banner01.png);
    height: 678px;
}

.bloco01-texto {
    color: #fff;
}

.bloco01-texto h2 {
    margin: 0;
    font-size: 48px;
    width: 400px;
    padding: 190px 0px 30px 100px ;
    line-height: 100%;
}

.bloco01-texto p {
    margin: 0;
    font-size: 24px;
    width: 505px;
    padding: 0px 0px 40px 100px;
    line-height: 110%;
}

.botao {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 28px;
    border-radius: 22px;
    text-transform: uppercase;
}

.botao-laranja {
    background-color: #FEC52E;
    color: #141414;
}

.botao-branco {
    background-color: #fff;
    color: #141414;
}

.botao-vazado {
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 25px;
}

.bloco01-texto .botao {
    margin-left: 100px;
}

/* bloco 02 ----------------------------------- */

.bloco02 {
    background-image: url(imagens/banner02.png);
    height: 504px;
}

.bloco02 .botao {
    margin-right: 20px;
}

.bloco02-texto {
    color: #000;
    float: right;
    width: 602px;
}

.bloco02-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 127px 0px 20px 0px ;
    line-height: 36px;
}

.bloco02-texto p {
    font-size: 16px;
    width: 505px;
    padding: 0px 0px 40px 0px;
    line-height: 110%;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 24px;
    font-weight: 500;
}

/* bloco 03 ----------------------------------- */

.bloco03 {
    background-image: url(imagens/banner03.png);
    height: 580px;
}

.bloco03 .botao {
    margin-left:100px;
}

.bloco03-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco03-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 177px 0px 34px 100px ;
    line-height: 36px;
}

.bloco03-texto .botao-vazado {
    border-color: #000;
    color: #000;
}

.bloco03 .botao {
    display: inline-block;
    margin-bottom: 30px;
}

.celular {
    float: right;
    background-image: url(imagens/celular_video.png);
    margin: 81px 101px 0 0;
    width: 764px;
    height: 418px;
}

/* bloco 04 ----------------------------------- */

.bloco04 {
    background-image: url(imagens/banner04.png);
    height: 563px;
}

.bloco04 .botao {
    margin-left:100px;
}

.bloco04 .logo-xjoy {
    padding: 136px 2px 0px 101px;
}

.bloco04-texto {
    float: left;
    color: #fff;
    width: 500px;
}

.bloco04-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 8px 0px 34px 100px ;
    line-height: 36px;
}

.bloco04 .botao {
    display: inline-block;
    margin-bottom: 30px;
}

.bloco04-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 385px;
    padding: 0px 0px 40px 0px;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 24px;
    font-weight: 500;
    width: 274px;
    line-height: 28px;
}

/* bloco 05 ----------------------------------- */

.bloco05 {
    background-image: url(imagens/banner05.png);
    height: 482px;
}

.bloco05 .botao {
    margin-right: 20px;
}

.bloco05-texto {
    color: #000;
    float: right;
    width: 602px;
}

.bloco05-texto h2 {
    width: 550px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 104px 100px 10px 0px ;
    line-height: 36px;
}

.bloco05-texto p {
    width: 505px;
    padding: 0px 0px 40px 0px;
    line-height: 110%;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 24px;
    font-weight: 500;
    width: 430px;
    line-height: 28px;
}

/* bloco 06 ----------------------------------- */

.bloco06 {
    background-color: #F3F3F3;
    height: 1217px;
    text-align: center;
}

.bloco06 h2 {
    width: 720px;
    font-size: 36px;
    margin: 0 auto;
    padding: 104px 0 30px 0;
}

.bloco06 .p1 {
    width: 743px;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto 40px;
}

.bloco06 .p2 {
    width: 504px;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 47px;
}

.container-texto {
    margin-bottom: 0;
    height: 500px;
}

/* grid blocos ---------- */

.container-grid {
    width: 1250px;
    margin: 0 auto;
}

.item-grid {
    float: left;
    box-sizing: border-box;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    text-align: left;
    margin: 7px;
    width: 295px;
    height: 295px;
    padding: 30px;
    background-color: #fff;
}

.item-grid h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #141414;
    padding: 20px 0;
}

.item-grid p {
    width: 235px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

/* bloco 07 ----------------------------------- */

.bloco07 {
    height: 482px;
    background-color: #fff;
}

.bloco07 .botao {
    margin-left:100px;
}

.bloco07-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco07-texto h2 {
    width: 400px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 119px 0px 11px 100px ;
    line-height: 36px;
}

.bloco07 .botao {
    display: inline-block;
    margin-top: 20px;
}

.bloco07-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 385px;
    padding: 0px 0px 17px 0px;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 399px;
}

.bloco07 .imagem {
    float: right;
    background-image: url(imagens/foto-homem-direita01.png);
    height: 482px;
    width: 710px;
}

/* bloco 08 ----------------------------------- */

.bloco08 {
    height: 482px;
    background-color: #fff;
}

.bloco08 .botao {
    margin-left:100px;
}

.bloco08-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco08-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 119px 0px 11px 100px ;
    line-height: 36px;
}

.bloco08 .botao {
    display: inline-block;
    margin-top: 20px;
}

.bloco08-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 385px;
    padding: 0px 0px 17px 0px;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 399px;
}

.bloco08 .imagem {
    float: left;
    background-image: url(imagens/foto-mulher-esquerda.png);
    height: 482px;
    width: 710px;
}

/* bloco 09 ----------------------------------- */

.bloco09 {
    height: 482px;
    background-color: #fff;
}

.bloco09 .botao {
    margin-left:100px;
}

.bloco09-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco09-texto h2 {
    width: 400px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 64px 0px 35px 100px ;
    line-height: 36px;
}

.bloco09 .botao {
    display: inline-block;
    margin-top: 20px;
}

.bloco09-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 500px;
    padding: 0px 0px 17px 0px;
}

.p1 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

p.p2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 399px;
}

.bloco09 .imagem {
    float: right;
    background-image: url(imagens/foto-homem-direita02.png);
    height: 482px;
    width: 710px;
}

/* bloco 10 ----------------------------------- */

.bloco10 {
    background-image: url(imagens/banner06.png);
    height: 645px;
    text-align: center;
}

.bloco10 h2 {
    width: 720px;
    font-size: 36px;
    margin: 0 auto;
    padding: 81px 0 30px 0;
}

.bloco10 .p1 {
    width: 584px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 0 auto 40px;
}

.bloco10 .container-texto {
    margin-bottom: 0;
    height: 280px;
    color: #fff;
}

/* grid blocos ---------- */

.container-grid {
    width: 1250px;
    margin: 0 auto;
}

.bloco10 .item-grid {
    float: left;
    box-sizing: border-box;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    text-align: left;
    margin: 7px;
    width: 295px;
    height: 295px;
}

.bloco10 .item-grid p {
    width: 235px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.item-grid .quero-saber {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding: 80px 0px 0px 80px;
    
}

.quero-saber-seta {
    text-decoration: none;
    color: #000;
}

.item-grid .quero-saber-consorcio {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding: 40px 0px 0px 80px;
}

.item-grid .quero-saber-mentoria {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding: 60px 0px 0px 80px;
}

.item-grid .seta-amarela {
    background-color: #FEC52E;
    border-radius: 50%;
}

.bloco10 .seta {
    float: right;
    background-color: #FEC52E;
    padding: 1px;

    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 16px;
} 

/* bloco 11 ----------------------------------- */

.bloco11 {
    background-image: url(imagens/banner07.png);
    height: 482px;
}

.bloco11-texto {
    color: #000;
}

.bloco11-texto h2 {
    margin: 0;
    font-size: 36px;
    width: 505px;
    padding: 90px 0px 30px 100px ;
    line-height: 36px;
}

.bloco11-texto p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    width: 482px;
    padding: 0px 0px 40px 100px;
}

.botao {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 28px;
    border-radius: 22px;
    text-transform: uppercase;
}

.botao-branco {
    background-color: #fff;
    color: #141414;
}

.bloco11-texto .botao {
    margin-left: 100px;
}

/* bloco 12 ----------------------------------- */

.bloco12 {
    height: 530px;
    background-image: url(imagens/banner08.png);
    margin: auto;
}

.bloco12 .botao {
    margin-left:100px;
}

.bloco12-texto {
    text-align: center;
    color: #000;
    width: 1440px;
    height: 530px;
}

.bloco12-texto h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    padding: 118px 0px 47px ;
}

.bloco12 .botao {
    display: inline-block;
    margin-top: 20px;
    margin: 0;
}

.bloco12-texto .p1 {
    margin: auto;
    font-weight: 500;
    text-align: center;
    width: 600px;
}

.bloco12-texto .p2 {
    margin: auto;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0px 40px 0px;
}

/* bloco 13 ----------------------------------- */

.bloco13 {
    background-image: url(imagens/banner09.png);
    height: 563px;
}

.bloco13-texto {
    color: #fff;
    float: right;
}

.whatsapp-big {
    padding: 113px 528px 28px 836px ;
}

.bloco13-texto h2 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    width: 400px;
    padding: 0px 0px 18px 836px ;
}

.bloco13-texto .p1 {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    width: 482px;
    padding: 0px 0px 50px 836px ;
}

.botao {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 28px;
    border-radius: 22px;
    text-transform: uppercase;
}

.bloco13-texto .botao {
    margin-left: 836px;
    
}

/* bloco 14 ----------------------------------- */

.bloco14 {
    display: table;
    background-color: #f3f3f3;
    height: 671px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bloco14-texto h2 {
    text-align: center;
    padding-top: 102px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
}

.bloco14 .container-grid {
    margin: 75px auto 20px auto;
    text-align: center;
    height: 400px;
    width: 1000px;
}

.bloco14 .grid {
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.03);
    width: 295px;
    height: 295px;
}

.foto-perfil01 {
    float: left;
    background-image: url(imagens/perfil-homem-1.png);
    width: 55px;
    height: 55px;
}

.foto-perfil02 {
    float: left;
    background-image: url(imagens/perfil-mulher.png);
    width: 55px;
    height: 55px;
}

.foto-perfil03 {
    float: left;
    background-image: url(imagens/perfil-homem-2.png);
    width: 55px;
    height: 55px;
}

.bloco14 .nome-candidato {
    width:150px;
    margin:10px 0px 20px 70px;
}

.bloco14 .nome {
    text-align: left;
    width: 100px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

.bloco14 .profissao {
    text-align: left;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
}

.bloco14 .aspas {
    float: left;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #e2e2e2;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    width: 15px;
    height: 50px;
    margin: 30px 0 0 20px;
}

.bloco14 .descricao {
    display: table;
    float: right;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 180px;
    height: 100px;
    margin-top: 30px;
}

.bloco14 .seta-esquerda {
    float: left;
    width: 15px;
    height: 27px;
    padding: 20px;
    margin: 175px auto auto 100px;
}

.bloco14 .seta-direita {
    float: right;
    width: 15px;
    height: 27px;
    padding: 20px;
    margin: 175px 100px auto 50px;
    
}

.bloco14 .pontos {
    font-size: 5em;
    color: #d9d9d9;
    margin: 0 0 100px;
}

.bloco14 .pontos a {
    text-decoration: none;
    color: #d9d9d9;
    margin: 0 0 100px;
}

.bloco14 .pontos a:hover {
    color: #488ad6;
}