@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(217, 217, 217);
}

main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fafafa;
}

.cabecalho {
    display: flex;
    max-width: 1440px;
    height: 89px;
    gap: 274px;
}

.menu {
    margin-top: 37px;
    font-weight: 700;
    font-style: normal;
}

.menu ul {
    list-style: none; /* retira a bolinhas do ul */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

}

.menu ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #141414;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color:#00852C ;
}

.logo {
    width: 150px;
    height: 29px;
    text-decoration: none;
    margin: 30px 0 0 100px;
}

/* bloco 01 ----------------------------------- */

.bloco01 {
    background-image: url(imagens/banner01.png);
    height: 678px;
}

.bloco01-texto {
    color: #fff;
}

.bloco01-texto h2 {
    margin: 0;
    font-size: 48px;
    width: 400px;
    padding: 190px 0px 30px 100px ;
    line-height: 100%;
}

.bloco01-texto p {
    margin: 0;
    font-size: 24px;
    width: 505px;
    padding: 0px 0px 40px 100px;
    line-height: 110%;
}

.botao {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 28px;
    border-radius: 22px;
    text-transform: uppercase;
}

.botao-laranja {
    background-color: #FEC52E;
    color: #141414;
}

.botao-branco {
    background-color: #fff;
    color: #141414;
}

.botao-vazado {
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 25px;
}

.bloco01-texto .botao {
    margin-left: 100px;
}

/* bloco 02 ----------------------------------- */

.bloco02 {
    background-image: url(imagens/banner02.png);
    height: 504px;
}

.bloco02 .botao {
    margin-right: 20px;
}

.bloco02-texto {
    color: #000;
    float: right;
    width: 602px;
}

.bloco02-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 127px 0px 20px 0px ;
    line-height: 36px;
}

.bloco02-texto p {
    font-size: 16px;
    width: 505px;
    padding: 0px 0px 40px 0px;
    line-height: 110%;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 24px;
    font-weight: 500;
}

/* bloco 03 ----------------------------------- */

.bloco03 {
    background-image: url(imagens/banner03.png);
    height: 580px;
}

.bloco03 .botao {
    margin-left:100px;
}

.bloco03-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco03-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 177px 0px 34px 100px ;
    line-height: 36px;
}

.bloco03-texto .botao-vazado {
    border-color: #000;
    color: #000;
}

.bloco03 .botao {
    display: inline-block;
    margin-bottom: 30px;
}

.celular {
    float: right;
    background-image: url(imagens/celular_video.png);
    margin: 81px 101px 0 0;
    width: 764px;
    height: 418px;
}

/* bloco 04 ----------------------------------- */

.bloco04 {
    background-image: url(imagens/banner04.png);
    height: 563px;
}

.bloco04 .botao {
    margin-left:100px;
}

.bloco04-texto {
    float: left;
    color: #fff;
    width: 500px;
}

.bloco04-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 177px 0px 34px 100px ;
    line-height: 36px;
}

.bloco04 .botao {
    display: inline-block;
    margin-bottom: 30px;
}

.bloco04-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 385px;
    padding: 0px 0px 40px 0px;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 24px;
    font-weight: 500;
    width: 274px;
    line-height: 28px;
}

/* bloco 05 ----------------------------------- */

.bloco05 {
    background-image: url(imagens/banner05.png);
    height: 482px;
}

.bloco05 .botao {
    margin-right: 20px;
}

.bloco05-texto {
    color: #000;
    float: right;
    width: 602px;
}

.bloco05-texto h2 {
    width: 550px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 104px 100px 10px 0px ;
    line-height: 36px;
}

.bloco05-texto p {
    width: 505px;
    padding: 0px 0px 40px 0px;
    line-height: 110%;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 24px;
    font-weight: 500;
    width: 430px;
    line-height: 28px;
}

/* bloco 06 ----------------------------------- */

.bloco06 {
    background-color: #F3F3F3;
    height: 1217px;
    text-align: center;
}

.bloco06 h2 {
    width: 720px;
    font-size: 36px;
    margin: 0 auto;
    padding: 104px 0 30px 0;
}

.bloco06 .p1 {
    width: 743px;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto 40px;
}

.bloco06 .p2 {
    width: 504px;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 47px;
}

.container-texto {
    margin-bottom: 0;
    height: 500px;
}

/* grid blocos ---------- */

.container-grid {
    width: 1250px;
    margin: 0 auto;
}

.item-grid {
    float: left;
    box-sizing: border-box;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    text-align: left;
    margin: 7px;
    width: 295px;
    height: 295px;
    padding: 30px;
    background-color: #fff;
}

.item-grid h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #141414;
    padding: 20px 0;
}

.item-grid p {
    width: 235px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

/* bloco 07 ----------------------------------- */

.bloco07 {
    height: 482px;
    background-color: #fff;
}

.bloco07 .botao {
    margin-left:100px;
}

.bloco07-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco07-texto h2 {
    width: 400px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 119px 0px 11px 100px ;
    line-height: 36px;
}

.bloco07 .botao {
    display: inline-block;
    margin-top: 20px;
}

.bloco07-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 385px;
    padding: 0px 0px 17px 0px;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 399px;
}

.bloco07 .imagem {
    float: right;
    background-image: url(imagens/foto-homem-direita01.png);
    height: 482px;
    width: 710px;
}

/* bloco 08 ----------------------------------- */

.bloco08 {
    height: 482px;
    background-color: #fff;
}

.bloco08 .botao {
    margin-left:100px;
}

.bloco08-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco08-texto h2 {
    width: 450px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 119px 0px 11px 100px ;
    line-height: 36px;
}

.bloco08 .botao {
    display: inline-block;
    margin-top: 20px;
}

.bloco08-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 385px;
    padding: 0px 0px 17px 0px;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
}

p.p2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 399px;
}

.bloco08 .imagem {
    float: left;
    background-image: url(imagens/foto-mulher-esquerda.png);
    height: 482px;
    width: 710px;
}

/* bloco 09 ----------------------------------- */

.bloco09 {
    height: 482px;
    background-color: #fff;
}

.bloco09 .botao {
    margin-left:100px;
}

.bloco09-texto {
    float: left;
    color: #000;
    width: 500px;
}

.bloco09-texto h2 {
    width: 400px;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding: 64px 0px 35px 100px ;
    line-height: 36px;
}

.bloco09 .botao {
    display: inline-block;
    margin-top: 20px;
}

.bloco09-texto p {
    margin-left: 100px;
    font-size: 16px;
    width: 385px;
    padding: 0px 0px 17px 0px;
}

.p1 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

p.p2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 399px;
}

.bloco09 .imagem {
    float: right;
    background-image: url(imagens/foto-homem-direita02.png);
    height: 482px;
    width: 710px;
}
